/* REMOVENDO ESTILOS DO NAVEGADOR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /*Tamanho da caixa */
}

/* Fundo do site */ 

body{
    background-image: url(Assets/bg.jpg); /* caminho da imagem q vai ficar no fundo 
    do site*/
    background-position: top center ;  /* Onde no site, ela vai ficar*/
    background-size: 100% auto;       /* Altura automatica, e 100 te tamanho da tela*/
    background-repeat: no-repeat;     /* Não repetindo  background */
    background-color: #121214;
}

/*Fundo feito*/

/*Fazer os Cartões*/

/*main* {          /* Tudo DENTRO DO MAIN * é um seletor universal 
    border: 1px solid red;
}*/

main {              /*Agrupa todos os Cartoẽs */
    max-width: 580px;  /*Maior largura, logo padrão para qm ta dentro dele*/ 
    width: 90px;
    margin: auto;  /* Margem Lateral, Caluculo automatico */
    display: grid; 
    gap: 24px;
    margin-top: 32px; 
}

ul {
    list-style: none;
    /* Lista sem o . no meio */ 
}

body *{
    font-family: 'Inter', sans-serif; /*caso n encontre a fonte*/ 
    line-height: 160%; /*Altura da linha*/
}

section { /* Os 3 selections */
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%,#E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 { /* NO h2 do/Dentro section */
    letter-spacing: -0.47px;
    /*Espaço das letras*/
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul{ /* lista  q contém todos elementos.*/
    display: flex; /* Visualização dos elementos do lado do outro */
    flex-wrap: wrap; 
    gap: 16px; /* Espaço dos elementos */
    margin-top: 24px; /* Espaço do topo */
}

.Games-List img{ /* img da GAMES-LIST */
    width: 90px;
    border-radius: 8px;
}

.Streams-List img{
    border-radius: 50%;
    width: 70px;
}

/* UntilTheEnd */